body {
	font-family: Open Sans, sans-serif;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

header {
	background: #000;
	padding: 23px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

header { 
  position: fixed; 
  width: 100%; 
  left: 0; 
  top: 0; 
  z-index: 50; 
 } 

header:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #000;
}

nav img {
	width: 80px;
	z-index: 3;
}

nav ul {
	z-index: 3;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
}

.menu {
	display: flex;
}

.menu_item a {
	margin-left: 50px;
	text-decoration: none;
	font-weight: 400;
	color: #b0b0b0;
	font-size: 14px;
}

.menu_item a:hover {
	text-decoration: underline;
	transition: 0.1s;
}

.header_about {
	background: #000;
	position: relative;
	overflow: hidden;
	padding-top: 110px;
	padding-bottom: 140px;
}

.header_about:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url('../img/header_img.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.header_about .container {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

.header_info {
	width: 440px;
}

.header_info h1,
.stylish h1 {
	font-size: 36px;
	color: #fff;
	font-weight: 400;
	margin-top: 20px;
}

.bottom_line {
	width: 65px;
	height: 30px;
	border-bottom: 2px solid #fff;
}

.header_info p,
.stylish p{
	font-weight: 300;
	font-size: 16px;
	color: #a3a1a1;
	margin-top: 35px;
	margin-bottom: 50px;
}

.header_info a,
.stylish a {
	padding: 10px 30px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
}

.header_form {
	width: 360px;
}

.header_form_begining {
	background: #f5f5f5;
	padding: 10px 50px;
	border-radius: 4px 4px 0 0;
}

.header_form_begining span{
	color: #ff8b38;
}

.header_form h3 {
	font-size: 20px;
	font-weight: 700;
	color: #333;
}

.header_form_inputs form {
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

.header_form_inputs form input {
	background: none;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	width: 290px;
	margin-top: 40px;
	padding-bottom: 10px;
	padding-left: 10px;

	font-weight: 400;
	font-size: 14px;
	outline: none;
}

.header_form button {
	width: 100%;
	background: #ff9b51;
	border: 1px solid #ff9b51;
	border-radius: 0 0 4px 4px;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	padding: 20px 0;
}

.header_form button:hover {
	background: #ed761e;
	border: 1px solid #ed761e;
	border-radius: 0 0 4px 4px;
	transition: 0.1s;
}

.header_socials {
	padding: 22px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
}

.header_socials .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icons_block {
	width: 450px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header_socials .text_block h4 {
	font-weight: 700;
	font-size: 20px;
	color: #333333;
	margin-bottom: 12px;
}

.header_socials .text_block p {
	color: #a4a5a8;
	font-size: 14px;
	font-weight: 400;
	
}

.header_socials .fa {
	color: #ccc;
	font-size: 45px;
	transition: 0.2s;
}

.header_socials .fa:hover {
	color: #ff9b51;
}

.first_icon {
	margin-left: 0;
}

.header_socials a,
footer a {
	text-decoration: none;
}

.tabs {
	background: #f5f5f5;
	padding-top: 150px;
	padding-bottom: 120px;
}

.tabs .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tabs_cubes {
	display: flex;
	flex-direction: column;
}

.cubes {
	display: block;
	width: 110px;
	height: 110px;
	background: #333333;
	margin-bottom: 1px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabs_text {
	max-width: 460px;
}

.tabs_text h4{
	font-weight: 700;
	font-size: 20px;
	color: #000;
	margin-bottom: 50px;
}

.tabs_text p{
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
	margin-bottom: 25px;
}

/*.tabs_text p:nth-child(1) {
	margin-bottom: 150px;
}*/

.tabs_text a {
	display: inline-block;
	margin-top: 25px;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	background: #ff9b51;
	padding: 15px 25px;
	border-radius: 4px;
}

.tabs_text a:hover {
	background: #ed761e;
	transition: 0.1s;
}

.tabs img {
	width: 260px;
	height: auto;
}

.features1, .features2 {
	padding-top: 110px;
	padding-bottom: 130px;
}

.features1 .container, .features2 .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.features1 img , .features2 img{
	max-width: 430px;
	height: auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.features1 .text_block, .features2 .text_block{
	max-width: 500px;
}

.features1 .text_block h4, .features2 .text_block h4{
	font-weight: 700;
	font-size: 20px;
	color: #212121;
}

.bottom_line_orange {
	width: 65px;
	height: 30px;
	border-bottom: 2px solid #ff8b38;
	margin-bottom: 30px;
}

.features1 .text_block p, .features2 .text_block p{
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
}

.text_block_item {
	margin-top: 50px;
	display: flex;
}


.text_block_item_wrapper {
	margin-left: 30px;
}

.text_block_item_wrapper h6{
	font-weight: 600;
	font-size: 14px;
	color: #212121;
	margin-bottom: 10px;
}

.features1 .fa {
	font-size: 16px;
	color: #ff8b38;
}

.features2 {
	background: #f5f5f5;
}

.our_process {
	text-align: center;
	padding: 105px 0;
}

.our_process .bottom_line_orange,
.pricing .bottom_line_orange,
.feedback .bottom_line_orange {
	margin: 0 auto;
}

.our_process h2,
.pricing h2,
.feedback h2,
.contact h2 {
	font-size: 36px;
	font-weight: 400;
	color: #212121;
}

.our_process p,
.feedback p,
.contact p {
	font-size: 14px;
	font-weight: 400;
	color: #86878b;
	margin-top: 30px;
}

.our_process_wrapper {
	display: flex;
	margin-top: 75px;
	justify-content: space-between;
}

.our_process_item {
	width: 350px;
}

.our_process .fa {
	color: #ff8b38;
	font-size: 32px;
	margin-bottom: 25px;
}

.our_process_item h5 {
	font-weight: 700;
	font-size: 20px;
	color: #333;
}


.pricing {
	text-align: center;
	background: #f5f5f5;
	padding: 95px 0;
}

.pricing p {
	font-size: 14px;
	font-weight: 400;
	color: #86878b;
}

.praicing_top_p {
	margin-top: 30px;
}

.pricing_wrapper {
	display: flex;
	margin-top: 75px;
	justify-content: space-between;
	align-items: flex-start;
}

.pricing_item {
	width: 31%;
}

.pricing_item:not(:nth-child(2)) {
	margin-top: 37px;
}

.grey_part {
	background: #333333;
	border-bottom: 5px solid #ff8b38;
}

.pricing_item .grey_part p{
	padding: 18px 0;
}

.pricing_item .grey_part p:nth-child(1){
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.pricing_item .grey_part p:nth-child(2){
	font-weight: 700;
	font-size: 35px;
	color: #fff;
}

.grey_part span {
	font-size: 94px;
}

.pricing_item .grey_part p:nth-child(4){
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	background: #ff8b38;
	padding-top: 14px;
	padding-bottom: 9px;
}


.white_part {
	background: #fff;
}

.white_part p{
	text-transform: uppercase;
	padding: 14px 0;
	border-bottom: 1px solid #f5f5f5;
}

.feedback {
	text-align: center;
	padding: 95px 0;
}

.feedback_wrapper {
	margin-top: 55px;
	display: flex;
	justify-content: space-between;
}

.feedback_text {
	width: 275px;
	height: 130px;
	background: #f5f5f5;
	position: relative;
	color: #86878b;
	font-weight: 400;
	font-size: 14px;
	text-align: start;
	padding: 25px 40px 30px 15px;
}

.feedback_text:after {
	content: ''; 
    position: absolute;
    bottom: -30px; 
    left: 25px;
    border: 15px solid transparent;
    border-top: 20px solid #f5f5f5;
}

.feedback_person {
	display: flex;
	margin-top: 25px;
	align-items: center;
}

.feedback_person img{
	margin-left: 5px;
}

.feedback_person_wrapper {
	margin-left: 15px;
}

.feedback_person_wrapper {
	color: #333;
	font-size: 20px;
	font-weight: 700;
}

.feedback_person_wrapper p{
	margin-top: 10px;
}

.stylish {
	text-align: center;
	background: #000;
	position: relative;
	overflow: hidden;
	padding: 70px 0 ;
}

.stylish:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url('../img/city_bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.stylish .container {
	z-index: 2;
	position: relative;
}

.stylish .bottom_line {
	margin: 0 auto;
}

.contact {
	text-align: center;
	margin-top: 105px;
	margin-bottom: 85px;
}

.contact .bottom_line_orange {
	margin: 0 auto;
}

.contact_form {
	margin-top: 85px;
}

.contact_form {	
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.inputs {	
	display: flex;
	flex-direction: column;
	width: 47%;
}

.contact_form input,
.contact_form textarea {
	background: none;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-size: 14px;
	outline: none;
	/*width: 500px;*/
}

.contact_form input:not(:first-child) {
	margin-top: 40px;
}

.contact_form input {
	width: 100%;
}

.contact_form textarea {
	resize: none;
	width: 47%;
	padding-left: 23px;
}

.contact button {
	background: #ff9b51;
	border: 1px solid #ff9b51;
	border-radius:4px;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	padding: 20px 25px;
	margin-top: 110px;
}

.contact button:hover {
	background: #ed761e;
	border: 1px solid #ed761e;
	transition: 0.1s;
}

/*//////////////////////////////////////////////////////////////*/
.footer{
    width: 100%;
    background-color: black;
    color: #fff;
    margin-top: 70px;
    padding-bottom: 70px;
}

.footer_h {
	text-align: center ;
    margin: 0px;
    padding: 60px 0px 60px 0px;
    color: grey;
    font-size: 60px;
    font-weight: 200;
}

.footer_section1{
    display: flex;
}

.data{
    width: 50%;
    margin-right: 60px;
}
.data_info{
    margin-bottom: 48px;
    display: flex;
}
.data_info_img{
    height: 100%;
    align-items: center;
    align-self: center;
}

.icons, .fa-brands{
    margin-right: 20px;
    color: #fff;
    font-size: 40px;
    transition: 0.2s;
}
.fa-brands:hover{
    color: #f49f37;
}

.form{
    width: 50%;
}

.form button{
    margin-top: 30px;
}

.form_input{
    color: grey;
    font-size:18px;
    height: 35px;
    width: 90%;
    margin-left: 0px;
    margin-bottom: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
}

.btn2 {
    padding: 10px 35px;
    color: black;
    background-color: white;
    border-color: grey;
    border-width: 1px;
    border-radius: 50px;
    font-size: 18px;
    transition: 0.2s;
}

.btn2:hover{
    cursor: pointer;
    background-color: #f49f37;
}

.end{
    margin: 40px auto; 
    text-align: center;
}

.end_text2{
    font-size: 14px;
    color:grey;

}






@media screen and (max-width: 1130px) {
	.container {
		padding: 0 10px;
	}
}

@media screen and (max-width: 1000px) {
	.header_socials .container {
		/*display: flex;
		justify-content: space-between;
		align-items: center;*/
		flex-direction: column;
		text-align: center;
	}

	.header_socials p {
		margin-bottom: 20px
	}

	.features1 .container, .features2 .container{
		flex-direction: column;
	}

	.features1 img {
		margin-bottom: 20px
	}

	.features1_head_media_wrapper,
	.features2_head_media_wrapper {
		text-align: center;
	}

	.features1_head_media_wrapper .bottom_line_orange,
	.features2_head_media_wrapper .bottom_line_orange {
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.features2 img {
		margin-top: 20px
	}
}

@media screen and (max-width: 900px) {
	.tabs img {
		width: 190px;
		height: auto;
	}

	.cubes {
		width: 85px;
		height: 85px;
	}

	.tabs_text {
		margin: 0 15px;
	}

	.tabs_text a {
		padding: 12px 20px;
		font-size: 16px
	}

	.feedback_wrapper {
		margin-top: 55px;
		flex-wrap: wrap;
		justify-content: space-around;
	}	

	.feedback_wrapper_item:not(:last-child) {
		margin-bottom: 30px
	}

	.feedback_wrapper_item:not(:first-child) {
		margin-left: 20px
	}
}

@media screen and (max-width: 830px) {
	.header_about .container{
		flex-direction: column;
		align-items: center;
		text-align: center
	}

	.header_about .bottom_line{
		margin: 0 auto;
	}

	.header_form {
		margin-top: 50px
	}

	.pricing_wrapper {
		flex-direction: column;
		align-items: center;
	}

	.pricing_item {
		width: 345px;
	}

	.pricing_item:not(:nth-child(2)) {
		margin-top: 0px;
	}

	.pricing_item:not(:last-child) {
		margin-bottom: 20px
	}

	.footer_section1 {
		flex-direction: column;
		align-items: center; 
	}

	.data {
		margin-right: 0;
	}

	.social {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-right: 0;
	}

	.footer form{
		margin-top: 35px;
		text-align: center;
	}

	.footer button{
		margin-top: 0;
	}
}


@media screen and (max-width: 700px) {
	.tabs img {
		display: none;
	}

	.our_process_wrapper {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.our_process_item:not(:first-child) {
		margin-top: 25px
	}

	.contact_form {
		flex-direction: column;
		align-items: center;
	}

	.contact textarea {
		margin-top: 25px
	}

	.contact_form textarea,
	.contact_form input,
	.inputs {
		width: 300px;
	}

	.menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 1;
		padding-top: 90px;
		display: block;
		overflow: auto;
		transition: 0.3s;
	}

	.menu.active {
		top: 0;
	}

	.menu_item {
		margin-bottom: 20px;
	}

	.menu_item a{
		margin-left: 10px;
		font-size: 25px;
	}

	.header_burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header_burger:before,
	.header_burger:after {
		content: '';
		background: #fff;
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		transition: 0.3s;
	}

	.header_burger span {
		background: #fff;
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		top: 9px;
		transition: 0.3s;
	}

	.header_burger:before {
		top: 0;
	}

	.header_burger:after {
		bottom: 0;
	}

	.header_burger.active span {
		transform: scale(0);
	}

	.header_burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header_burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.body.lock {
		overflow: hidden;
	}
}

@media screen and (max-width: 470px) {
	.features2 img,
	.features1 img {
		width: 250px;
		height: auto;
	}

	.icons_block {
		width: 300px
	}

	.header_socials .fa {
		color: #ccc;
		font-size: 30px;
	}

	.pricing_item {
		width: 290px;
	}
}